<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>URL SHORTNER</title>
	</head>
	<body>
		<div class="container">
			<form action="/short" method="post">
				<label for="">Enter your URL</label>
				<input type="text" name="url" />
				<button type="submit">Submit</button>
			</form>
			<% if(shortURL) { %>
			<p>
				Short URL :
				<a href="<%= shortURL %>" target="_blank">{%= shortURL %}</a>
			</p>
			<% } %>
		</div>
	</body>
</html>
